section {
    Margin: 30px;
    Border: Solid 2px #2a931f;
    Background-Color: White;
}

Body {
    Background: #6b6565
}

div > a {
    display: block;
    text-align: center;
}

footer {
    margin-top: 40px;
    background: black;
    color: white;
}

footer > div {
    margin-top: 40px;
    margin-bottom: 20px;
    background: black;
}

.info{
                display: none;
            }
            img:hover + div.info{
                display: block;
            }
            div>img:hover{
                transform: scale(1.2,1.2);
            }

@media screen and (max-width: 480px) {
    body{
        background: white;
    }
    #contenido {
        width: 100%;
        margin: 0px;
        Border: solid 0px white;
        font-size: 15px;
    }
    header{
        display: none;
    }
    div>iframe{
        width: 100%;
    }
}
